.main-samdra {
    display: flex;
    flex-direction: column-reverse;
    justify-content: justify;
    align-items: justify;
    background-color: ivory;
    padding: 10em;
}

.main-samdra .card{
    background-color: ivory;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10em;

}

@media (max-width:768px){
    .main-samdra {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        background-color: ivory;
        padding: 3rem;
    }
    .main-samdra .card{
        margin: 2rem;
        background-color: ivory;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

   
}