.main-simpsons {
    display: center;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: ivory;
}

.main-simpsons .card{
    background-color: ivory;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main-simpsons .card img{
    width: 40%;
    height: 60%;
}

.main-simpsons .card h2{
    color: rgb(59, 7, 59);
}




@media (max-width:768px){
    .main-simpsons {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        background-color: ivory;
        padding: 3rem;
    }
    .main-simpsons .card{
        margin: 2rem;
        background-color: ivory;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

}